@font-face {
  font-family: 'Eurostile Round';
  src: local('Eurostile Round Medium'), local('EurostileRound-Medium'), url('https://dan63.by/static/EurostileRound-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile Round Extended';
  src: local('Eurostile Round Extended Regular'), local('EurostileRoundExtended-Regular'), url('https://dan63.by/static/EurostileRoundExtended-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eurostile Round Extended';
  src: local('Eurostile Round Extended Black'), local('EurostileRoundExtended-Black'), url('https://dan63.by/static/EurostileRoundExtended-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  text-align: center;
  font-family: "Eurostile Round";
  font-weight: 500;
  font-style: normal;
  display: grid;
  height: 100vh;
  background: #000;
  align-content: center;
}
 
#countdown-title{
  color: #fff;
  font-family: 'Eurostile Round Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  width: 100%;
  margin: 3vh 0 0 0;
  text-shadow: 3px 3px 1px #000;
}
 
.countdown {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Eurostile Round Extended';
  font-weight: 900;
  font-style: normal;
  align-items: baseline;
  font-size: 30px;
  width: max-content;
  margin: auto;
  text-shadow: 5px 5px 1px #000;
}
#congrats{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-shadow: 5px 5px 1px #000;
}
.countdown-inner {
  font-size: 12vw;
}
.captions{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.incard_l {
  display: block;
  text-align: left;
  position: absolute;
}
.incard_r {
  display: block;
  text-align: right;
}
.didts {
  display: inline-block;
}
#separator1, #separator2{
  transition: 250ms ease-in-out;
}
footer{
  color: #ffffff;
  text-decoration: underline;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}
footer > a{
    text-shadow: 3px 3px 1px #000;
}